**UNIVERSIDADE DE SÃO PAULO - USP**

**Faculdade de Ciências Farmacêuticas de Ribeirão Preto**

**Introdução à Ciência dos Dados**

**Aluno:** 7599770 - Paulo Henrique de Almeida Soares Pimenta

# 1 - Estrutura de Dados

## **Exercício 1**

In [9]:
temperaturas_celsius = [
    56.7,  # Estados Unidos (Vale da Morte)
    -27.4, # Países Baixos (Kebili)
    -18.4, # Taiwan (Yushan)
    54.0,  # Kuwait (Mitribah)
    53.9,  # Israel (Tirat Zvi)
    -41.0,  # Polonia (Siedlce)
    50.7,  # Austrália (Oodnadatta)
    52.0,  # México (Sonora)
    -53.5,  #  Noruega (Karasjok)
    52.0   # Arábia Saudita (Al-Ahsa)
]

paises = [
    "Estados Unidos (Vale da Morte)",
    "Países Baixos (Kebili)",
    "Taiwan (Yushan)",
    "Kuwait (Mitribah)",
    "Israel (Tirat Zvi)",
    "Polonia (Siedlce)",
    "Austrália (Oodnadatta)",
    "México (Sonora)",
    "Noruega (Karasjok)",
    "Arábia Saudita (Al-Ahsa)"
]

In [12]:
def C_to_farenheit(celsius):
    return (9/5) * celsius + 32

In [100]:
for i in range(len(temperaturas_celsius)):
    celsius = temperaturas_celsius[i]
    fahrenheit = C_to_farenheit(celsius)
    print("Temperatura pais: %s:  Celsius: %.2f e fahrenheit: %.2f" % (paises[i], celsius, fahrenheit))

'Temperatura pais: Estados Unidos (Vale da Morte):  Celsius: 56.70 e fahrenheit: 134.06'

'Temperatura pais: Países Baixos (Kebili):  Celsius: -27.40 e fahrenheit: -17.32'

'Temperatura pais: Taiwan (Yushan):  Celsius: -18.40 e fahrenheit: -1.12'

'Temperatura pais: Kuwait (Mitribah):  Celsius: 54.00 e fahrenheit: 129.20'

'Temperatura pais: Israel (Tirat Zvi):  Celsius: 53.90 e fahrenheit: 129.02'

'Temperatura pais: Polonia (Siedlce):  Celsius: -41.00 e fahrenheit: -41.80'

'Temperatura pais: Austrália (Oodnadatta):  Celsius: 50.70 e fahrenheit: 123.26'

'Temperatura pais: México (Sonora):  Celsius: 52.00 e fahrenheit: 125.60'

'Temperatura pais: Noruega (Karasjok):  Celsius: -53.50 e fahrenheit: -64.30'

'Temperatura pais: Arábia Saudita (Al-Ahsa):  Celsius: 52.00 e fahrenheit: 125.60'

## **Exercício 2**

In [22]:
altura_pais = {
    "Alemanha": 1.79,
    "Argentina": 1.738,
    "Austrália": 1.778,
    "Paises Baixos": 1.838,
    'Suécia': 1.79,
    'Canadá': 1.78,
    'Estados Unidos': 1.77,
    'Reino Unido': 1.75,
    'Estônia': 1.81,
    'Finlândia': 1.79    
}

In [26]:
def peso_ideal(altura):
    return (72.7*altura) - 58

In [30]:
for pais, altura_m in altura_pais.items():
    print(f'Peso ideal para o {pais} com altura {altura_m:.2f} m: {peso_ideal(altura_m):.2f} kg')

Peso ideal para o Alemanha com altura 1.79 m: 72.13 kg
Peso ideal para o Argentina com altura 1.74 m: 68.35 kg
Peso ideal para o Austrália com altura 1.78 m: 71.26 kg
Peso ideal para o Paises Baixos com altura 1.84 m: 75.62 kg
Peso ideal para o Suécia com altura 1.79 m: 72.13 kg
Peso ideal para o Canadá com altura 1.78 m: 71.41 kg
Peso ideal para o Estados Unidos com altura 1.77 m: 70.68 kg
Peso ideal para o Reino Unido com altura 1.75 m: 69.23 kg
Peso ideal para o Estônia com altura 1.81 m: 73.59 kg
Peso ideal para o Finlândia com altura 1.79 m: 72.13 kg

## **Exercício 3**

In [46]:
# Dados sobre a bolsa de estudos na Alemanha
pais = 'Alemanha'
valor_mensal_euro = 750  # Valor mensal da bolsa em Euros
cotacao_euro_real = 6.14  # Cotação do Euro para Real no dia da atividade

# Conversão para Real por hora trabalhada
valor_hora_real = cotacao_euro_real * valor_mensal_euro / (4 * 40)  # Considerando 4 semanas e 40 horas por semana

# Conversão para Real por mês
valor_mensal_real = cotacao_euro_real * valor_mensal_euro

# Conversão para Real por ano
valor_anual_real = cotacao_euro_real * valor_mensal_euro * 12

########################################################################################
# Exibição dos resultados formatados
print(f'O valor da bolsa de estudo no país {pais} é: '
      f'R${round(valor_hora_real, 2)} por hora trabalhada, '
      f'R${round(valor_mensal_real, 2)} por mês e '
      f'R${round(valor_anual_real, 2)} por ano.')
########################################################################################

# Conversão do valor de bolsas de pós-graduação da Bélgica
pais_belgica = 'Bélgica'
bolsa_mensal_euro_belgica = 1000  # Valor mensal da bolsa em Euros
cotacao_euro_real = 6.14  # Cotação do Euro para Real

# Conversão para Real por hora trabalhada
valor_hora_real_belgica = cotacao_euro_real * bolsa_mensal_euro_belgica / (4 * 40)

# Conversão para Real por mês
valor_mensal_real_belgica = cotacao_euro_real * bolsa_mensal_euro_belgica

# Conversão para Real por ano
valor_anual_real_belgica = cotacao_euro_real * bolsa_mensal_euro_belgica * 12

########################################################################################
# Exibição dos resultados para Bélgica
print(f'O valor da bolsa de estudo no país {pais_belgica} é: '
      f'R${round(valor_hora_real_belgica, 2)} por hora trabalhada, '
      f'R${round(valor_mensal_real_belgica, 2)} por mês e '
      f'R${round(valor_anual_real_belgica, 2)} por ano.')
########################################################################################

# Conversão do valor de bolsas de pós-graduação da Dinamarca
pais_dinamarca = 'Dinamarca'
bolsa_mensal_coroa_dinamarquesa = 6500  # Valor mensal da bolsa em Coroa Dinamarquesa
cotacao_coroa_real = 0.82  # Cotação da Coroa Dinamarquesa para Real

# Conversão para Real por hora trabalhada
valor_hora_real_dinamarca = cotacao_coroa_real * bolsa_mensal_coroa_dinamarquesa / (4 * 40)

# Conversão para Real por mês
valor_mensal_real_dinamarca = cotacao_coroa_real * bolsa_mensal_coroa_dinamarquesa

# Conversão para Real por ano
valor_anual_real_dinamarca = cotacao_coroa_real * bolsa_mensal_coroa_dinamarquesa * 12

# Exibição dos resultados para Dinamarca
########################################################################################
print(f'O valor da bolsa de estudo no país {pais_dinamarca} é: '
      f'R${round(valor_hora_real_dinamarca, 2)} por hora trabalhada, '
      f'R${round(valor_mensal_real_dinamarca, 2)} por mês e '
      f'R${round(valor_anual_real_dinamarca, 2)} por ano.')
########################################################################################

O valor da bolsa de estudo no país Alemanha é: R$28.78 por hora trabalhada, R$4605.0 por mês e R$55260.0 por ano.
O valor da bolsa de estudo no país Bélgica é: R$38.38 por hora trabalhada, R$6140.0 por mês e R$73680.0 por ano.
O valor da bolsa de estudo no país Dinamarca é: R$33.31 por hora trabalhada, R$5330.0 por mês e R$63960.0 por ano.

# 2 - Estruturas de Decisão

## **Exercício 1**

In [55]:
# Lista com as temperaturas registradas
lista_temperaturas = [12, 25, 30, 18, 15, 29, 22, 35, 10]

# Limite de temperatura para definição de frio ou calor
limite_temperatura = 20  # Temperatura de referência em graus Celsius

# Verifica cada temperatura e indica se está frio ou calor
for temperatura in lista_temperaturas:
    if temperatura < limite_temperatura:
        print(f"{temperatura}°C: Está frio")
    else:
        print(f"{temperatura}°C: Está calor")

12°C: Está frio
25°C: Está calor
30°C: Está calor
18°C: Está frio
15°C: Está frio
29°C: Está calor
22°C: Está calor
35°C: Está calor
10°C: Está frio

## **Exercício 2**

In [60]:
# Preços dos combustíveis
preco_alcool = 1.90  # Preço por litro do álcool
preco_gasolina = 2.50  # Preço por litro da gasolina

# Entrada de dados do usuário
tipo_combustivel = input('Tipo de combustível: A-álcool, G-gasolina: ').strip().upper()
quantidade_litros = round(float(input('Quantidade de litros: ')), 2)

# Cálculo do valor a ser pago, com desconto aplicado conforme as condições
if tipo_combustivel == 'A' and quantidade_litros > 20:
    valor_total = round(preco_alcool * quantidade_litros * 0.95, 2)
    print(f'O valor de Álcool a ser pago será: R${valor_total}')
elif tipo_combustivel == 'A' and quantidade_litros <= 20:
    valor_total = round(preco_alcool * quantidade_litros * 0.97, 2)
    print(f'O valor de Álcool a ser pago será: R${valor_total}')
elif tipo_combustivel == 'G' and quantidade_litros > 20:
    valor_total = round(preco_gasolina * quantidade_litros * 0.96, 2)
    print(f'O valor de Gasolina a ser pago será: R${valor_total}')
elif tipo_combustivel == 'G' and quantidade_litros <= 20:
    valor_total = round(preco_gasolina * quantidade_litros * 0.94, 2)
    print(f'O valor de Gasolina a ser pago será: R${valor_total}')
else:
    print('Não foi possível realizar os cálculos com os dados informados')

Tipo de combustível: A-álcool, G-gasolina:  A
Quantidade de litros:  10

O valor de Álcool a ser pago será: R$18.43

## **Exercício 3**

In [70]:
# Definir os preços por kg para morangos e maçãs
preco_morango_ate_5kg = 2.50
preco_morango_acima_5kg = 2.20
preco_maca_ate_5kg = 1.80
preco_maca_acima_5kg = 1.50

# Solicitar a quantidade de morangos e maçãs adquiridas em kg
kg_morango = float(input("Digite a quantidade de morangos em kg: "))
kg_maca = float(input("Digite a quantidade de maçãs em kg: "))

# Calcular o custo dos morangos
if kg_morango <= 5:
    valor_morango = kg_morango * preco_morango_ate_5kg
else:
    valor_morango = kg_morango * preco_morango_acima_5kg

# Calcular o custo das maçãs
if kg_maca <= 5:
    valor_maca = kg_maca * preco_maca_ate_5kg
else:
    valor_maca = kg_maca * preco_maca_acima_5kg

# Calcular o valor total da compra
valor_total = valor_morango + valor_maca

# Aplicar desconto de 10% se a quantidade total for maior que 8 kg ou o valor total ultrapassar R$ 25,00
if (kg_morango + kg_maca > 8) or (valor_total > 25.00):
    valor_total *= 0.90  # Aplica o desconto de 10%

# Exibir o valor total a ser pago pelo cliente
print(f"Valor a ser pago: R$ {valor_total:.2f}")

Digite a quantidade de morangos em kg:  5
Digite a quantidade de maçãs em kg:  5

Valor a ser pago: R$ 19.35

# 3 - Estruturas de Repetição

## **Exercício 1**

In [80]:
# Entrada do usuário para o número desejado
numero = int(input('Insira um número: '))  # Número para o qual a tabuada será calculada
print(f'\nA tabuada do número {numero} é:')

# Loop para calcular a tabuada de 1 a 10
for multiplicador in range(1, 11):
    resultado = numero * multiplicador
    print(f'{numero} x {multiplicador} = {resultado}')

Insira um número:  5

A tabuada do número 5 é:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## **Exercício 2**

In [123]:
temperaturas_celsius = [
    56.7,  # Estados Unidos (Vale da Morte)
    -27.4, # Países Baixos (Kebili)
    -18.4, # Taiwan (Yushan)
    54.0,  # Kuwait (Mitribah)
    53.9,  # Israel (Tirat Zvi)
    -41.0,  # Polonia (Siedlce)
    50.7,  # Austrália (Oodnadatta)
    52.0,  # México (Sonora)
    -53.5,  #  Noruega (Karasjok)
    52.0   # Arábia Saudita (Al-Ahsa)
]

for i in range(len(temperaturas_celsius)):
    print(temperaturas_celsius[i])

print("###########################################")

altura_pais = {
    "Alemanha": 1.79,
    "Argentina": 1.738,
    "Austrália": 1.778,
    "Paises Baixos": 1.838,
    'Suécia': 1.79,
    'Canadá': 1.78,
    'Estados Unidos': 1.77,
    'Reino Unido': 1.75,
    'Estônia': 1.81,
    'Finlândia': 1.79    
}

for i in altura_pais.values():
    print(i)

56.7
-27.4
-18.4
54.0
53.9
-41.0
50.7
52.0
-53.5
52.0
###########################################
1.79
1.738
1.778
1.838
1.79
1.78
1.77
1.75
1.81
1.79

## **Exercício 3**

In [115]:
altura_pais = {
    "Alemanha": 1.79,
    "Argentina": 1.738,
    "Austrália": 1.778,
    "Paises Baixos": 1.838,
    'Suécia': 1.79,
    'Canadá': 1.78,
    'Estados Unidos': 1.77,
    'Reino Unido': 1.75,
    'Estônia': 1.81,
    'Finlândia': 1.79    
}
print("############################################")
for pais, altura in (altura_pais.items()):
    print(f'Altura média em {pais}: {altura} m')

############################################
Altura média em Alemanha: 1.79 m
Altura média em Argentina: 1.738 m
Altura média em Austrália: 1.778 m
Altura média em Paises Baixos: 1.838 m
Altura média em Suécia: 1.79 m
Altura média em Canadá: 1.78 m
Altura média em Estados Unidos: 1.77 m
Altura média em Reino Unido: 1.75 m
Altura média em Estônia: 1.81 m
Altura média em Finlândia: 1.79 m